Python ?
- Python is an object-oriented, interpreted, high-level programming language.
- It is general purpose and we use it to develop GUI, Web Applications etc..
- With python, we can concentrate on the business logic of our code rather than investing a lot of time in common programming tasks.

Variables ?
- Variables are used to store and retrieve data from our system memory.
- We can store value in a variable by assigning a value to a variable or getting the value as input from user.
- A variable can start with a letter or underscore and cannot start with numbers.

In [6]:
# Assigning a single value variables
marks = 99
name = 'Tushar'
salary = 2000.23
print(marks)
print(name)
print(salary)

# Assigning a multi value variables
a=b=c=10
x,y,z = 10,20,30
print(a,b,c)
print(x,y,z)

# Getting user input
user_name = input("Enter your name : ")
print(user_name)
pin_code = int(input("Enter you pin code : "))
print(pin_code)

99
Tushar
2000.23
10 10 10
10 20 30
Enter your name : Tushar
Tushar
Enter you pin code : 203131
203131

Data Types ?

In [9]:
# Checking if number is odd or even
number = int(input("Enter any number : "))
if number % 2 == 0 :
  print(f'{number} is even')
else:
  print(f'{number} is odd')

Enter any number : 9
9 is odd

In [13]:
# Printing the table of a given number
number = int(input("Enter any number : "))
for i in range(1,11):
  result = number * i
  print(f'{number} x {i} = {result}')

Enter any number : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [5]:
#List

#Create
names = []
age = list()
print(names, age)

#Initialize
age = [25,18,21]
print(age)

#Append
age.append(25)
print(age)

#Delete
age.pop()
print(age)

age.pop(1) # passing index
print(age)

[] []
[25, 18, 21]
[25, 18, 21, 25]
[25, 18, 21]
[25, 21]

In [46]:
#Tuple

#Create - > To create an empty tuple you can use the tuple function ot use empty ()
options = ()
names = tuple()
print(f'options -> {options} , names -> {names}')

#Initialize
age_list = [24,34,23,67,34]
age = tuple(age_list)
print(f'Age tuple -> {age}')

marks = 10,20,30,40
print(f'marks -> {marks}')

#Search
print(20 in marks)
print(60 in marks)
print(100 in age)
print(marks.index(10))
print(marks.index(40))

#Slice
print(marks)
print(age)
print(marks[2:4])
print(age[1:3])

options -> () , names -> ()
Age tuple -> (24, 34, 23, 67, 34)
marks -> (10, 20, 30, 40)
True
False
False
0
3
(10, 20, 30, 40)
(24, 34, 23, 67, 34)
(30, 40)
(34, 23)

In [36]:
#Dictionary

#Create -> To create an empty dictionary you can either use the dict function or use the curly braces syntax
names = {}
age = dict()
print(f'names empty dictionary {names} , age empty dictionary {age}')

#Initialize -> To initialize dictornary with some values you can either pass some nested data structure to dict function or use the curly braces syntax
age_list = [['a',1],['b',2],['c',3]]
age_dict = dict(age_list)
print(f'Age dictionary : {age_dict}')

age = {'a':1,'b':2,'c':3}
print(age)

#Add -> To add a new key value pair by using this syntax dict_name[key] = value
age['d']=4
print(age)

#Remove -> To remove an element just use the del keyword with the key dictionary name.
del age['d']
print(age)

#Search -> To search a value you need to use the memebership operator with the key, if the key is found it returns true else it returns false
print(age)
print('a' in age)
print('d' in age)

# Traverse Dict (key, value)
for key in age:
  print(f'{key} -> {age[key]}')

names empty dictionary {} , age empty dictionary {}
Age dictionary : {'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
True
False
a -> 1
b -> 2
c -> 3

In [20]:
# Creating a Function
# A function can have multiple parts of it -> Name, Parameters, Return Statement

# Creating Function
def add_two_numbers(x,y):
  return x+y

# Calling Function
print(add_two_numbers(10,20))

# Types of functions -> User Defined Function, Built in Defined Function
# User defined functions
def find_max(nums):
  result = nums[0]
  for x in nums:
    if x > result:
      result = x
  return result

print(find_max([10,20,30,56]))

# Built in function
# abs(), all(), any(), ascii(), bin(), bool()
print(bin(10))

30
56
0b1010