1.Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40,
50, 60):

- Concatenate the two tuples and store it in “t_combine”
- Repeat the elements of “t_combine” 3 times
- Access the 3rd element from “t_combine”
- Access the first three elements from “t_combine”
- Access the last three element from t_combine

In [14]:
firstTuple = (10,20,30)
secondTuple = (40,50,60)

# Concatenate the two tuples and store
t_combine = firstTuple + secondTuple
print(t_combine)

# Repeat the elements of "t_combine" 3 times.
print(t_combine * 3)

# Access the 3rd element from t_combine
print(t_combine[2])

# Access the first three element from t_combine
print(t_combine[0:3])

# Accss the last three element from t_combine
print(t_combine[len(t_combine)-3:len(t_combine)])

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
30
(10, 20, 30)
(40, 50, 60)

2. Create a list ‘my_list’ with these elements:
- First element is a tuple with values 1, 2, 3
- Second element is a tuple with values “a”, “b”, “c”
- Third element is a tuple with values True,False

In [18]:
fTuple = (1,2,3)
sTuple = ('a','b','c')
tTuple = (True,False)

my_list = [fTuple,sTuple,tTuple]
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

3. Append a new tuple – (1, ‘a’, True) to ‘my_list’:
- Append a new list – *“sparta”, 123+ to my_list

In [20]:
aTuple = (1,'a',True)
my_list.append(aTuple)
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

4. Create a dictionary ‘fruit’ where:
- The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
“Guava”)
- The second key is ‘Cost’ and the values are (85, 54, 120, 70)
- Extract all the keys from ‘fruit’
- Extract all the values from ‘fruit’

In [25]:
fruit = {'Fruit':["Apple","Banana","Mango","Guava"], "Cost":[85,54,120,70]}
for key in fruit:
  print(f'Key -> {key} :: Value -> {fruit[key]}')

Key -> Fruit :: Value -> ['Apple', 'Banana', 'Mango', 'Guava']
Key -> Cost :: Value -> [85, 54, 120, 70]

5. Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and
print the result.

In [26]:
my_set = {1,1,"a","a",True,True}
print(my_set)

{1, 'a'}