In [50]:
# Q1. Using Python script as a calculator Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then evaluate the following expression in the Python console.
# Ans - 162.89

n = 10
r = 5
p = 100
a = p*((1+5/100)**10)
print(a)

162.8894626777442

In [55]:
# Q2. In a given string format operation, how will you print the given string.
a = 10
b = 20
Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(a,b))
print(Str.format(b,a))

There are 10 students in the class, with 20 who play at least one sport.
There are 20 students in the class, with 10 who play at least one sport.

In [57]:
# Q3. In a given sample string, How do you print a double quoted string in between a regular string using the escape character?
# Sample output = It goes without saying, “Time is Money”, and none can deny it.

print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

In [48]:
# Q4. What will be the output of the following code ?
# Ans - 3
x = lambda a,b : a//b
print(x(10,3))

3

In [47]:
# Q5. What will be the output of the following code ?
# Ans - Greater
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A<B else print("True")

Greater

In [44]:
# Q6. What will be the output of the following code?
# Ans - Name Error numpy is not defined.

import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
#arr_1 = numpy.array(my_list1, dtype = int)
arr_1 = np.array(my_list1, dtype = int)
print(arr_1)

[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

In [37]:
# Q7. Create a string called ‘string’ with the value as “Machine Learning”. Which code(s) is/are appropriate to slice the substring “Learn”?
# Ans - string[slice(8,13,1)]
string = "Machine Learning"
print(string[slice(8,13,1)])

Learn

In [34]:
# Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?
# Ans - 4
intialNumber = 10
finalNumber = 25
numbersList = []
for i in range(intialNumber,finalNumber+1):
  numbersList.append(i+4)

# find the index of value 18
print(numbersList.index(18))

4

In [30]:
# Q9. Which of the following is true with respect to the below codes ?
# Ans - num1 = num2

num1 = 5**4
num2 = pow(5,4)
print(num1,num2)

625 625

In [27]:
# Q10. A Python NameError exception is raised when:
# a. Trying to access a variable which has not been defined
# b. Trying to access a key in a dictionary that does not exist
# c. Accessing a column with misspelled column name
# d. Accessing the function from a module that has not been imported

# Ans - Trying to access a variable which has not been defined.

print(z)

NameError: ignored

In [26]:
# Q11. What type of exception will be raised for the code given below ?
# Ans : Value Error
x = "string"
int(x)

ValueError: ignored

In [ ]:
# Q12. A FileNotFoundError exception is raised by operating system errors when: -
#a. Trying to create a file or directory which already exists
#b. A file or directory is requested but does not exist in the working directory
#c. Trying to run an operation without the adequate access rights
#d. A directory operation, os.listdir() is requested on something which is not a directory

# Ans - Option b -> A file or directory is requested but does not exist in the working directory.

In [22]:
# Q13. Consider a varibale Z. The value of Z is "ID-5632". Data type of Z is :
# Ans - Str

Z = "ID-5632"
print(type(Z))

<class 'str'>

In [20]:
# Q14. Which of the following variables are character data type ?
# Ans - All of the above

k = "4"
J = "Welcome"
L = "?"
print(type(k),type(J),type(L))

<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [ ]:
# Q15. Choose the symbols that does not have the ability to convert any value to string ?
# () is used for grouping expressions, function calls and tuples.
# "",#,{} are used for string {} for formatting string.

In [17]:
# Q16. Create a dictionary Country that maps the following countries to their capitals respectively.
# Find 2 commands to replace "Marseilles" with "Paris"

Country = {"India":"Delhi","China":"Beijing","Japan":"Tokyo","Qatar":"Doha","France":"Marseilles"}
# Update Directly
Country["France"] = "Paris"
# Update using update method
Country.update(France="Paris")

# Print
for key in Country:
  print(f'{key} -> {Country[key]}')

India -> Delhi
China -> Beijing
Japan -> Tokyo
Qatar -> Doha
France -> Paris

In [9]:
# Q17. Create the tuples given below
# tuple_1 = (1,5,6,7,8)
# tuple_2 = (8,9,4)
# Identify which of the following code does not work on a tuple
# Ans = tuple_1[3] = 45

tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

print(sum(tuple_1))
print(len(tuple_2))
print(tuple_2 + tuple_1)
#tuple_1[3] = 45 -> This is not allowed as tuple is immutable

27
3
(8, 9, 4, 1, 5, 6, 7, 8)

In [5]:
# Q18. How many elements in the following data structure ?
# S = {1,2,3,4,4,4,5,6}
# Ans = 6

S = {1,2,3,4,4,4,5,6}
print(f'Lenght of set {S} is {len(S)}')

Lenght of set {1, 2, 3, 4, 5, 6} is 6

In [58]:
# Q19. Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N

def find_pythagorean_triplets(N):
    triplets = []
    for a in range(1, N + 1):
        for b in range(a, N + 1):
            c_square = a**2 + b**2
            c = int(c_square**0.5)
            if c <= N and c_square == c**2:
                triplets.append((a, b, c))
    return triplets

N = 20
triplets = find_pythagorean_triplets(N)
print(triplets)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]